@charset "UTF-8";

@font-face {
  font-family: "MontserratB";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pragmaticashadowc";
  font-display: swap;
  src: url("../fonts/Pragmaticashadowc italic.woff") format("woff"), url("../fonts/Pragmaticashadowc italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Shalimar-Regular";
  font-display: swap;
  src: url("../fonts/Shalimar-Regular.woff") format("woff"), url("../fonts/Shalimar-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.test1 {
  border: 1px solid wheat;
}

.test2 {
  border: 1px solid black;
}

body {
  cursor: default;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
}

.select__name {
  font-size: 1.2vw;
  font-weight: bold;
  color: grey;
}

.pullDown {
  animation-name: pullDown;
  -webkit-animation-name: pullDown;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }

  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1);
  }

  40% {
    -webkit-transform: scaleY(1.02);
  }

  60% {
    -webkit-transform: scaleY(0.98);
  }

  80% {
    -webkit-transform: scaleY(1.01);
  }

  100% {
    -webkit-transform: scaleY(0.98);
  }

  80% {
    -webkit-transform: scaleY(1.01);
  }

  100% {
    -webkit-transform: scaleY(1);
  }
}

.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }

  50% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }

  65% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }

  80% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }

  95% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }

  50% {
    -webkit-transform: translateX(8%);
  }

  65% {
    -webkit-transform: translateX(-4%);
  }

  80% {
    -webkit-transform: translateX(4%);
  }

  95% {
    -webkit-transform: translateX(-2%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }

  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }

  60% {
    -webkit-transform: scale(1.1);
  }

  80% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

.pullUp {
  animation-name: pullUp;
  -webkit-animation-name: pullUp;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullUp {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
}

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  100% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
}

.bigEntrance {
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important;
}

@keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
            transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }

  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
            transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
            transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
            transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
            transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
            transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
            transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }

  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: wheat;
  width: 100%;
  height: 7vh;
  background: -webkit-gradient(linear, left top, right top, from(#100C09), color-stop(#342B1E), to(#1F1912));
  background: -o-linear-gradient(left, #100C09, #342B1E, #1F1912);
  background: linear-gradient(0.25turn, #100C09, #342B1E, #1F1912);
}

.nav__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  font-family: "Shalimar-Regular", "Times New Roman", Times, serif;
}

.nav__brand > a {
  color: wheat;
  text-decoration: none;
  font-size: 3rem;
}

.nav__burger {
  display: none;
  width: 80%;
}

.nav__burder__button {
  width: 50px;
  height: 50px;
}

.nav__burder__button > hr:nth-child(1) {
  width: 70%;
  margin: 3px;
  height: 2px;
  background-color: wheat;
}

.nav__burder__button > hr {
  color: black;
  height: 1px;
  margin: 3px;
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: wheat;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__link > a {
  border-bottom: 1px solid wheat;
  border-right: transparent;
  border-top: transparent;
  text-decoration: none;
  color: wheat;
  font-size: 1.7rem;
  padding: 0 3%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: color 0.6s ease, border 0.6s ease;
  -o-transition: color 0.6s ease, border 0.6s ease;
  transition: color 0.6s ease, border 0.6s ease;
}

.nav__link > a:hover {
  border-bottom: none;
  border-left: 1px solid wheat;
  border-right: 1px solid wheat;
  border-top: 1px solid wheat;
  color: #f3cf8d;
}

.nav__link .active {
  border-bottom: none;
  border-left: 1px solid wheat;
  border-right: 1px solid wheat;
  border-top: 1px solid wheat;
  color: #f3cf8d;
}

.no-webp header{
  background-image: url("../img/backHeadRezume.png"); }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 55vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-variant: small-caps;
  margin-top: -1px;
}

header > div > p {
  margin: 20px auto;
  text-align: center;
  color: wheat;
  font-size: 2.6vw;
  word-spacing: 1vw;
  font-family: "Fuzzy Bubbles", cursive;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 18%;
  height: 6vh;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  border-radius: 20px;
  border: 3px solid #0DCAF0;
  color: #0DCAF0;
  text-decoration: none;
  font-variant: small-caps;
  -webkit-transition: background-color 1s ease, color 0.5s ease;
  -o-transition: background-color 1s ease, color 0.5s ease;
  transition: background-color 1s ease, color 0.5s ease;
}

.header__button:hover {
  color: black;
  background-color: #0DCAF0;
}

.no-webp .header__button:hover .header__download__icon{
  background-image: url("../img/downloadlogohover.png"); }

.header__button:hover .header__download__icon {
  background-repeat: no-repeat;
}

.no-webp .header__download__icon{
  background-image: url("../img/downloadlogo.png"); }

.header__download__icon {
  background-repeat: no-repeat;
  background-size: 1vw;
  background-position: 50% 55%;
  width: 20px;
  -webkit-transition: background-image 0.5s ease;
  -o-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease;
  margin-right: 2%;
}

.header__button > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__about {
  width: 100%;
}

.main__svg {
  margin-top: -3.9%;
  fill: #F8F8F8;
}

.section__about__main {
  margin: 0 auto;
  margin-top: 3%;
  width: 80%;
}

.section__about__block_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pacifier {
  width: 50%;
}

.section__about__main__header {
  width: 40%;
  text-align: center;
}

.section__about__main__header > p:nth-child(1) {
  font-size: 2.3vw;
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.section__about__main__header > p:nth-child(2) {
  text-align: center;
  padding: 0;
  margin-top: 0.5%;
  font-size: 1vw;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-family: "Fuzzy Bubbles", cursive;
  color: grey;
}

.section__about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__about__content__self {
  margin-left: 5%;
  width: 50%;
  font-family: "Fuzzy Bubbles", cursive;
  background-color: white;
  -webkit-box-shadow: 3px 3px 4px #CFCFCF, -3px -3px 4px #CFCFCF, -3px 3px 4px #CFCFCF, 3px -3px 4px #CFCFCF;
          box-shadow: 3px 3px 4px #CFCFCF, -3px -3px 4px #CFCFCF, -3px 3px 4px #CFCFCF, 3px -3px 4px #CFCFCF;
}

.section__about__content__self > p:nth-child(1) {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  padding-bottom: 2%;
}

.section__about__content__self > p {
  font-size: 1.1vw;
  margin: 2% auto;
  padding-left: 30%;
}

.section__about__content__photo {
  width: 40%;
}

.section__about__content__photo img {
  display: block;
  margin: 0 auto;
  width: 50%;
  -webkit-box-shadow: 3px 3px 4px #CFCFCF, -3px -3px 4px #CFCFCF, -3px 3px 4px #CFCFCF, 3px -3px 4px #CFCFCF;
          box-shadow: 3px 3px 4px #CFCFCF, -3px -3px 4px #CFCFCF, -3px 3px 4px #CFCFCF, 3px -3px 4px #CFCFCF;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: white;
}

.section__about__pacifier__two {
  width: 50%;
  height: 5vw;
}

.section__skills {
  display: none;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}

.section__skills__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__skills__header > p {
  width: 45%;
  font-size: 2.3vw;
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.section__skills__header > div {
  width: 40%;
}

.section__skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 5%;
  margin-top: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__skills__body > div:nth-child(1) {
  -webkit-box-shadow: 3px 3px 4px #CFCFCF, -3px -3px 4px #CFCFCF, -3px 3px 4px #CFCFCF, 3px -3px 4px #CFCFCF;
          box-shadow: 3px 3px 4px #CFCFCF, -3px -3px 4px #CFCFCF, -3px 3px 4px #CFCFCF, 3px -3px 4px #CFCFCF;
  width: 40%;
  background-color: white;
}

.section__skills__body > div:nth-child(2) {
  -webkit-box-shadow: 3px 3px 4px #CFCFCF, -3px -3px 4px #CFCFCF, -3px 3px 4px #CFCFCF, 3px -3px 4px #CFCFCF;
          box-shadow: 3px 3px 4px #CFCFCF, -3px -3px 4px #CFCFCF, -3px 3px 4px #CFCFCF, 3px -3px 4px #CFCFCF;
  width: 50%;
  background-color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 3%;
  width: 80%;
  font-size: 1.3vw;
  font-family: "Courier New", Courier, monospace;
}

.flex > p:nth-child(1) {
  margin-top: 0;
  margin-bottom: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flex > p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

input[type=range] {
  display: block;
  margin: 0 auto;
  width: 80%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 7px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 7px;
  background-color: #747474;
}

input[type=range]::-webkit-slider-thumb {
  cursor: default;
  background: #747474;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -4px;
  -webkit-box-shadow: -200px 0 0 200px #0DCAF0;
          box-shadow: -200px 0 0 200px #0DCAF0;
}

input[type=range]::-moz-range-track {
  height: 7px;
  background-color: #747474;
}

input[type=range]::-moz-range-thumb {
  background: #ecf0f1;
  cursor: default;
  height: 7px;
  border-radius: 0px;
  box-shadow: -200px 0px 0px 200px #0DCAF0;
  padding: 0px;
  margin: 0px;
}

input[type=range]:last-child {
  margin-bottom: 5%;
}

.section__skills__body__checkSkills {
  padding-bottom: 2%;
}

.section__skills__body__checkSkills > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 1.2vw;
  margin: 0 auto;
  text-align: center;
}

.section__skills__body__checkSkills > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #747474;
  font-family: "Courier New", Courier, monospace;
}

.section__skills__body__checkSkills > div:nth-child(2) p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5vw;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.5vw;
  height: 1.5vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: #0DCAF0;
  background-color: #0DCAF0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.bigEntrance {
  animation-name: bigEntrance;
  -webkit-animation-name: bigEntrance;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important;
}

@keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
            transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }

  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
            transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
            transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
            transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
            transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
            transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
            transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2;
  }

  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1;
  }
}

.section_works {
  display: none;
  margin-top: 9%;
  margin-bottom: 5%;
}

.section__works__main {
  margin: 0 auto;
  margin-top: 3%;
  width: 80%;
}

.section__works__block_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pacifier {
  width: 50%;
}

.section__works__main__header {
  width: 40%;
  text-align: center;
}

.section__works__main__header > p:nth-child(1) {
  font-size: 2.3vw;
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.section__works__main__header > p:nth-child(2) {
  text-align: center;
  padding: 0;
  margin-top: 0.5%;
  font-size: 1vw;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-family: "Fuzzy Bubbles", cursive;
  color: grey;
}

.section__works__cards {
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  width: 28%;
  -webkit-box-shadow: 3px 3px 4px #CFCFCF, -3px -3px 4px #CFCFCF, -3px 3px 4px #CFCFCF, 3px -3px 4px #CFCFCF;
          box-shadow: 3px 3px 4px #CFCFCF, -3px -3px 4px #CFCFCF, -3px 3px 4px #CFCFCF, 3px -3px 4px #CFCFCF;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__header img {
  width: 100%;
  border-bottom: 1px solid #D2D2D2;
}

.card__body {
  margin: 0 auto;
  height: 30%;
}

.card__body h4 {
  text-align: center;
  margin: 0 auto;
  font-size: 1.7vw;
}

.card__body p {
  font-size: 1.2vw;
  text-align: center;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3%;
}

.card__footer a {
  height: 2.5vw;
  width: 70%;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  border: 1px solid #0DCAF0;
  border-radius: 10px;
  color: #0DCAF0;
  text-decoration: none;
  font-variant: small-caps;
  -webkit-transition: background-color 1s ease, color 0.5s ease;
  -o-transition: background-color 1s ease, color 0.5s ease;
  transition: background-color 1s ease, color 0.5s ease;
}

.card__footer a:hover {
  color: black;
  background-color: #0DCAF0;
}

.card__footer a > span {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__svg {
  margin-bottom: -2.8%;
}

.footer {
  background: -webkit-gradient(linear, left top, right top, from(#100C09), color-stop(#342B1E), to(#1F1912));
  background: -o-linear-gradient(left, #100C09, #342B1E, #1F1912);
  background: linear-gradient(0.25turn, #100C09, #342B1E, #1F1912);
  color: wheat;
  text-align: center;
}

.footer__main {
  padding-top: 2%;
  padding-bottom: 0.1%;
  width: 80%;
  margin: 0 auto;
}

.footer__main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__main__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__main__link > a {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.4vw;
  color: wheat;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.footer__main__link > a:hover {
  text-decoration: underline;
}

.footer__main__text {
  cursor: default;
  width: 60%;
  letter-spacing: 0.1rem;
  font-size: 1.3vw;
}

.footer__main__text > p {
  margin-top: 0%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
}

.footer__main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}

.footer__main__logo > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.no-webp .footer__logo__vk{
  background-image: url("../img/footer/Vkontakte1.png"); }

.footer__logo__vk {
  background-repeat: no-repeat;
  background-size: 3vw;
  background-position-x: 50%;
  background-position-y: 50%;
  -webkit-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
  width: 50px;
  height: 50px;
}

.no-webp .footer__logo__vk:hover{
  background-image: url("../img/footer/Vkontakte2.png"); }

.no-webp .footer__logo__ws{
  background-image: url("../img/footer/whatsapp1.png"); }

.footer__logo__ws {
  background-repeat: no-repeat;
  background-size: 3vw;
  background-position-x: 50%;
  background-position-y: 50%;
  -webkit-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
  width: 50px;
  height: 50px;
}

.no-webp .footer__logo__ws:hover{
  background-image: url("../img/footer/whatsapp2.png"); }

.no-webp .footer__logo__tlgr{
  background-image: url("../img/footer/telegram2.png"); }

.footer__logo__tlgr {
  background-repeat: no-repeat;
  background-size: 3vw;
  background-position-x: 50%;
  background-position-y: 50%;
  width: 50px;
  height: 50px;
  -webkit-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
}

.no-webp .footer__logo__tlgr:hover{
  background-image: url("../img/footer/telegram1.png"); }

.footer__main__logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: wheat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3vw;
}

.footer__main__logo > a:hover {
  text-decoration: none;
}

.footer__main__copy > p {
  font-size: 1vw;
  letter-spacing: 0.1rem;
}

.no-webp .chatbot__button{
  background-image: url("../img/chatbot/messendger.png"); }

.chatbot__button {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.chatbot__button:hover {
  width: 3.9vw;
  height: 3.9vw;
}

.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
}

/* при отображении модального окно */

.modal.show {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */

.modal-dialog {
  position: relative;
  width: 60vw;
  margin: 30px auto;
}

/* свойства для блока, содержащего контент модального окна */

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

/* свойства для заголовка модального окна */

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.7vw;
  font-weight: 500;
}

/* свойства для кнопки "Закрыть" */

.close {
  float: right;
  font-family: sans-serif;
  font-size: 3vw;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}

/* свойства для блока, содержащего основное содержимое окна */

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.modal__textarea {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 20vw;
  overflow-y: scroll;
  font-size: 1.5vw;
  overflow-wrap: break-word;
  border-radius: 2%;
}

.modal__textarea p {
  padding-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.modal__textarea__mess {
  display: block;
  margin: 0 auto;
  resize: none;
  width: 90%;
  margin-top: 2%;
  font-size: 1.5vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.modal__textarea__btn {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.modal__textarea__btn > button {
  width: 30%;
  height: 6vh;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #0DCAF0;
  color: #0DCAF0;
  text-decoration: none;
  font-variant: small-caps;
  -webkit-transition: background-color 1s ease, color 0.5s ease;
  -o-transition: background-color 1s ease, color 0.5s ease;
  transition: background-color 1s ease, color 0.5s ease;
}

.modal__textarea__btn > button:hover {
  color: black;
  background-color: #0DCAF0;
}

.hatch {
  animation-name: chat;
  -webkit-animation-name: chat;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  visibility: visible !important;
}

@-webkit-keyframes chat {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  15% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }

  30% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }

  45% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  60% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }

  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes chat {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  15% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }

  30% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }

  45% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  60% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }

  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (min-width: 576px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1400px) {
  input[type=range]::-webkit-slider-thumb {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  body {
    background-color: white;
  }

  .select__name {
    font-size: 1rem;
  }

  .section__about {
    margin-top: 5%;
  }

  .main__svg {
    display: none;
  }

  .section__about__main {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .section__about__block_header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .pacifier {
    display: none;
  }

  .section__about__main__header {
    width: 100%;
  }

  .section__about__main__header > p:nth-child(1) {
    font-size: 2rem;
  }

  .section__about__main__header > p:nth-child(2) {
    font-size: 100%;
  }

  .section__about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section__about__content__self {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 90%;
    margin-top: 5%;
  }

  .section__about__content__self > p:nth-child(1) {
    padding: 0;
  }

  .section__about__content__self > p {
    font-size: 2vh;
    padding-left: 0;
    text-align: center;
  }

  .section__about__content__photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .section__about__pacifier__two {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .section__skills__header > p {
    width: 100%;
    font-size: 2rem;
  }

  .section__works__main {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .section__works__block_header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .pacifier {
    display: none;
  }

  .section__works__main__header {
    width: 100%;
  }

  .section__works__main__header > p:nth-child(1) {
    font-size: 2rem;
  }

  .section__works__main__header > p:nth-child(2) {
    font-size: 100%;
  }

  .section__works__cards {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card {
    width: 100%;
    margin-top: 10%;
  }

  .card__body h4 {
    font-size: 1.2rem;
  }

  .card__body p {
    font-size: 1rem;
  }

  .works__svg {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .nav {
    position: fixed;
    height: 60px;
    z-index: 1;
    background-color: #342B1E;
  }

  .nav__brand {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-item-align: center;
        align-self: center;
    width: 40%;
    font-size: 1.5rem;
    padding-left: 1%;
    border: none;
  }

  .nav__brand > a {
    border: none;
    font-size: 1.7rem;
    height: 100%;
  }

  .nav__burger {
    display: block;
    font-size: 1.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 1%;
    border: none;
  }

  .nav__burder__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
  }

  .nav__link {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: -webkit-gradient(linear, left top, right top, from(#100C09), color-stop(#342B1E), to(#1F1912));
    background: -o-linear-gradient(left, #100C09, #342B1E, #1F1912);
    background: linear-gradient(0.25turn, #100C09, #342B1E, #1F1912);
    margin-top: 59px;
    border: none;
    -webkit-box-shadow: 0 0 0 black;
            box-shadow: 0 0 0 black;
  }

  .nav__link > a {
    font-size: 1.3rem;
    border: none;
    -ms-flex-item-align: center;
        align-self: center;
    letter-spacing: 0.2rem;
  }

  .nav__link > a:hover {
    border: none;
  }

  .nav__link .active {
    border: none;
  }

  header {
    padding-top: 100px;
    height: 90vh;
  }

  header > div > p {
    margin: 10px auto;
    font-size: 4vw;
  }

  .header__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #0DCAF0;
    margin-bottom: 4rem;
    width: 45%;
    font-size: 0.7rem;
    height: 2rem;
  }

  .header__download__icon {
    background-size: 0.7rem;
    margin: o auto;
  }

  .section__skills {
    width: 100%;
  }

  .section__skills__header > div {
    display: none;
  }

  .section__skills__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__skills__body > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
  }

  .section__skills__body > div:nth-child(2) {
    width: 90%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 5%;
    margin-top: 7%;
  }

  .flex {
    font-size: 0.8rem;
  }

  .section__skills__body__checkSkills > div:nth-child(1) {
    font-size: 2vh;
  }

  .section__skills__body__checkSkills > div:nth-child(2) p {
    font-size: 0.7rem;
  }

  .custom-checkbox + label::before {
    width: 1rem;
    height: 1rem;
  }

  .card__footer a {
    border: 1px solid #0DCAF0;
    font-size: 1rem;
    height: 2rem;
  }

  .card__footer a > span {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__main {
    width: 100%;
  }

  .footer__main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__main__link {
    width: 100%;
    display: none;
  }

  .footer__main__link > a {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 3vh;
  }

  .footer__main__text {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 0.8rem;
  }

  .footer__main__logo {
    width: 100%;
  }

  .footer__main__logo > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__logo__vk {
    background-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer__logo__ws {
    background-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer__logo__tlgr {
    background-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer__main__logo > a {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.1rem;
  }

  .footer__main__copy > p {
    font-size: 2vh;
  }

  .chatbot__button {
    width: 7vh;
    height: 7vh;
  }

  .chatbot__button:hover {
    width: 7vh;
    height: 7vh;
  }

  .modal-dialog {
    width: 80%;
  }

  .modal-content {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .modal-title {
    font-size: 1.2rem;
  }

  .close {
    font-size: 2.6rem;
  }

  .modal-body div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .modal__textarea {
    width: 95%;
    height: 40vh;
    font-size: 1rem;
    word-spacing: 2%;
  }

  .modal__textarea__mess {
    margin-top: 10%;
    font-size: 1rem;
    width: 95%;
  }

  .modal__textarea__btn {
    margin-top: 10%;
  }

  .modal__textarea__btn > button {
    width: 100%;
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .nav__brand > a {
    font-size: 2.4rem;
  }

  .nav__link > a {
    font-size: 1.6vw;
  }

  .header__button {
    margin-bottom: 5%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .nav__brand > a {
    font-size: 1.8rem;
  }

  .nav__link > a {
    font-size: 1rem;
  }

  header > div > p {
    font-size: 2.2vw;
    margin: 10px auto;
  }

  .header__button {
    margin-bottom: 5%;
    width: 25vw;
    font-size: 2vw;
  }

  .footer__logo__vk {
    width: 30px;
    height: 30px;
  }

  .footer__logo__ws {
    width: 30px;
    height: 30px;
  }

  .footer__logo__tlgr {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .nav__brand > a {
    font-size: 1.5rem;
  }

  .nav__link > a {
    font-size: 0.8rem;
  }

  header > div > p {
    font-size: 2.2vw;
    margin: 10px auto;
  }

  .header__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5%;
    width: 20vw;
    height: 5vh;
    font-size: 1.5vw;
    border: 1px solid #0DCAF0;
  }

  .header__download__icon {
    margin-right: 0;
  }

  .card__footer a {
    height: 5vh;
    font-size: 1.5vw;
    border: 1px solid #0DCAF0;
  }

  .footer__logo__vk {
    width: 30px;
    height: 30px;
  }

  .footer__logo__ws {
    width: 30px;
    height: 30px;
  }

  .footer__logo__tlgr {
    width: 30px;
    height: 30px;
  }

  .footer__main__logo > a {
    font-size: 0.5rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .nav__link > a {
    font-size: 1.2rem;
  }
}

.webp header{ background-image: url(../img/backHeadRezume.webp); }

.webp .header__button:hover .header__download__icon{ background-image: url(../img/downloadlogohover.webp); }

.webp .header__download__icon{ background-image: url(../img/downloadlogo.webp); }

.webp .footer__logo__vk{ background-image: url(../img/footer/Vkontakte1.webp); }

.webp .footer__logo__vk:hover{ background-image: url(../img/footer/Vkontakte2.webp); }

.webp .footer__logo__ws{ background-image: url(../img/footer/whatsapp1.webp); }

.webp .footer__logo__ws:hover{ background-image: url(../img/footer/whatsapp2.webp); }

.webp .footer__logo__tlgr{ background-image: url(../img/footer/telegram2.webp); }

.webp .footer__logo__tlgr:hover{ background-image: url(../img/footer/telegram1.webp); }

.webp .chatbot__button{ background-image: url(../img/chatbot/messendger.webp); }