.calendar {
  cursor: default;
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.calendar > table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}
.invalted-days-color {
  color: rgb(184, 184, 184);
}
.calendar > table tbody {
  border-top: 10px solid rgb(212, 212, 155);
  padding: 10px 0;
  border-bottom: 10px solid rgb(212, 212, 155);
}
.calendar > table tbody td {
  overflow: hidden;
  border: 1px solid rgb(219, 212, 212);

  transition-duration: 0.3s;
  transition-property: background;
  transition-timing-function: linear;
}
.calendar > table tbody td:not(.invalted-days-color):hover{
  cursor: pointer;
  background-color: rgb(212, 212, 155);
  color: brown;
}
.calendar > table tbody td:nth-child(6),
.calendar > table tbody td:nth-child(7) {
  background-color: beige;
}
.calendar > div {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.calendar > div > p {
  font-size: large;
  align-self: center;
  margin-left: 3%;
}
.calendar > div > div {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.calendar > div > div a {
  font-size: xx-large;
  text-decoration: none;
  align-self: center;
  color: brown;
}
.calendar > div > div a:nth-child(1):hover {
  animation: prev 1s linear infinite;
}
@keyframes prev {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.calendar > div > div a:nth-child(2):hover {
  animation: next 1s linear infinite;
}
@keyframes next {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
/* --------------------------- */
@media (min-width: 1400px) {
  .calendar {
    width: 30%;
  }
  .calendar > table th {
    width: 20%;
    height: 30px;
    font-size: larger;
  }
  .calendar > table tbody td {
    font-size: x-large;
    height: 40px;
  }

}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .calendar {
    width: 20%;
  }
  .calendar > table th {
    width: 10%;
    height: 20px;
    font-size: medium;
  }
  .calendar > table tbody td {
    font-size: large;
    height: 30px;
  }

}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .calendar {
    width: 30%;
  }
  .calendar > table th {
    width: 10%;
    height: 20px;
    font-size: medium;
  }
  .calendar > table tbody td {
    font-size: medium;
    height: 30px;
  }

}
@media (min-width: 768px) and (max-width: 991.98px) {
  .calendar {
    width: 30%;
  }
  .calendar > table th {
    width: 10%;
    height: 20px;
    font-size: medium;
  }
  .calendar > table tbody td {
    font-size: medium;
    height: 20px;
  }

}
@media (min-width: 576px) and (max-width: 767.98px) {
  .calendar {
    width: 40%;
  }

  .calendar > table th {
    width: 10%;
    height: 20px;
    font-size: medium;
  }
  .calendar > table tbody td {
    font-size: medium;
    height: 20px;
  }
}
@media (max-width: 575.98px) {
  .calendar {
    width: 100%;
  }
  .calendar > table th {
    width: 10%;
    height: 30px;
    font-size: medium;
  }
  .calendar > table tbody td {
    font-size: medium;
    height: 30px;
  }
}
.current{
  background-color: rgb(212, 212, 155);
    color: brown;
}