@font-face {
  font-family: "MontserratB";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pragmaticashadowc";
  font-display: swap;
  src: url("../fonts/Pragmaticashadowc italic.woff") format("woff"), url("../fonts/Pragmaticashadowc italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Shalimar-Regular";
  font-display: swap;
  src: url("../fonts/Shalimar-Regular.woff") format("woff"), url("../fonts/Shalimar-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.test1 {
  border: 1px solid white;
}

.test2 {
  border: 1px solid black;
}

.test3 {
  border: none;
}

html {
  font-size: 16px;
}

a {
  cursor: pointer;
}

img.logo {
  width: 100%;
}

.no-webp header {
  background-image: url("../img/bgheader.png"); }

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar-brand {
  width: 15%;
}

.nav-link-config {
  color: #C59554;
  margin-left: 10%;
  font-family: "Montserrat", sans-serif;
}

.nav-link-config a {
  color: #C59554;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

a.active {
  color: #DFC195;
}

.nav-link-config a:hover {
  color: #DFC195;
}

.nav-link-config > a:focus {
  color: #DFC195;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(197, 149, 84, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #C59554;
}

.additional-color {
  cursor: pointer;
  color: rgba(200, 173, 173, 0.4);
}

.openHours-info {
  color: #DFC195;
  font-size: 0.6rem;
}

.openHours-info-phoneNumber {
  font-size: 0.8rem;
  font-weight: bold;
}

.header-section-content {
  position: relative;
  top: 20%;
}

.header-section-info {
  color: #DFC195;
}

.header-section-info > h2,
.header-section-info > p {
  margin: 1%;
}

.header-section-info > h2 {
  color: #C59554;
}

.header-section-content-recordOnline {
  margin-top: 2%;
}

.btn-recordOnline {
  border: 3px solid #C59554;
  color: #DFC195;
  font-variant: small-caps;
}

.btn-recordOnline:hover {
  border: 3px solid #DFC195;
  background-color: #DFC195;
  color: black;
  font-weight: bold;
}

.main-section-about {
  position: relative;
  bottom: 6rem;
  font-family: "Montserrat", sans-serif;
}

.main-section-about-head {
  padding-left: 5%;
  height: 100px;
  background-color: white;
  font-variant: small-caps;
  font-family: "Montserrat", sans-serif;
}

.main-section-about-head > div > h4 {
  height: 2rem;
  margin-top: 0.5rem;
  background-color: #C59554;
}

.leftflag,
.rightflag {
  display: block;
  width: 28px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-webp .leftflag {
  background: url("../img/leftflag.png"); }

.no-webp .rightflag {
  background: url("../img/rightflag.png"); }

.article-content {
  padding-top: 6rem;
  margin: 0 -1rem;
  border-left: 5px solid #E6E6E6;
  border-right: 5px solid #E6E6E6;
  border-bottom: 5px solid #E6E6E6;
}

.article-section-one img {
  width: 30%;
}

.padleft {
  margin-left: 7%;
}

.article-section-two {
  background-color: #C59554;
}

.article-section-two p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
}

.divImg img {
  position: relative;
  top: -5rem;
  right: 5rem;
  width: 220%;
}

.main-section-services {
  background-color: #F8F9F9;
  border-radius: 5% 5% 0 0;
  margin-top: -3%;
  padding-bottom: 3%;
  font-family: "Montserrat", sans-serif;
}

.main-section-services-head {
  padding-left: 5%;
  height: 100px;
  font-variant: small-caps;
}

.main-section-services-head > div > h4 {
  height: 2rem;
  margin-top: 0.5rem;
  background-color: #C59554;
}

.main-section-services-content-one-content {
  text-align: start;
  font-size: 1.1rem;
  padding-left: 8%;
  padding-top: 6rem;
}

.main-section-services-content-one-img {
  position: relative;
  top: -2rem;
  left: -3rem;
  width: 45%;
}

.main-section-services-content-one-img img {
  display: block;
  width: 100%;
}

.main-section-services-content-two {
  margin-top: -8rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.card-img-flex {
  width: 19%;
  margin: 0 2rem;
}

.card-serv {
  background-color: rgba(255, 255, 255, 0);
}

.card-serv p:nth-child(1) {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  font-variant: small-caps;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 1px white;
}

.card-serv p:nth-child(3) {
  padding-top: 1rem;
}

.card-img-flex img {
  border-radius: 50%;
  height: 240px;
  border: 1px solid #C59554;
}

.carousel-caption h5 {
  font-size: 1.5rem;
  position: relative;
}

.carousel-caption p {
  font-size: 1.2rem;
}

.no-webp .main-section-masters {
  background: url("../img/sectionmastersimg/bgsectionmasters.png"); }

.main-section-masters {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  background-position: center;
  height: 80vh;
}

.main-section-masters-head {
  padding-left: 5%;
  height: 100px;
  font-variant: small-caps;
}

.main-section-masters-head > div > h4 {
  color: white;
  height: 2rem;
  margin-top: 0.5rem;
  background-color: #C59554;
}

.main-section-masters-content-two {
  margin-top: 2rem;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.card-masters-img-flex {
  width: 25%;
}

.card-master {
  background-color: rgba(255, 255, 255, 0);
}

.card-master > div {
  padding-top: 0;
}

.card-master > div > h5 {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-variant: small-caps;
}

.card-master > div > p {
  font-size: 0.9rem;
  text-align: justify;
  letter-spacing: 0.2rem;
}

.card-masters-img-flex img {
  border-radius: 20%;
  height: 260px;
  border: 2px solid #C59554;
}

.btn-master {
  border: 3px solid #C59554;
  color: #DFC195;
  font-variant: small-caps;
  border-radius: 20px;
}

.btn-master:hover {
  border: 3px solid #DFC195;
  background-color: #DFC195;
  color: black;
  font-weight: bold;
}

.section-masters-logo-text {
  padding-left: 5%;
  width: 100%;
  margin: 0 auto;
  font-variant: small-caps;
  font-size: 110px;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-shadow: 3px 0 1px white, 0 3px 1px white, -3px 0 1px white, 0 -3px 1px white;
  letter-spacing: 5vw;
}

.main-section-galery {
  background-color: #F8F9F9;
  border-radius: 0 0 5% 5%;
  padding-bottom: 3%;
}

.main-section-section-head {
  padding-left: 5%;
  height: 100px;
  font-variant: small-caps;
}

.main-section-section-head > div > h4 {
  height: 2rem;
  margin-top: 0.5rem;
  background-color: #C59554;
}

.main-section-galery-imgs {
  background-color: black;
  width: 80%;
  margin: 0 auto;
}

.main-section-galery-imgs > div {
  width: 100%;
}

.main-section-galery-imgs img {
  width: 100%;
  margin: 3% auto;
}

.msg-img-config {
  position: relative;
  top: -5px;
}

.msg-img-mt {
  position: relative;
  top: -5px;
}

.main-section-contacts {
  padding-bottom: 3%;
}

.main-section-section-head {
  padding-left: 5%;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-variant: small-caps;
}

.main-section-section-head > div > h4 {
  height: 2rem;
  margin-top: 0.5rem;
  background-color: #C59554;
}

.main-section-contacts-two {
  margin-top: 5rem;
}

.main-section-contacts-map iframe {
  width: 80%;
  height: 100%;
}

.mscc-img {
  position: relative;
  width: 70%;
  bottom: 100px;
  left: 100px;
}

.mscc-img img {
  width: 100%;
}

.mscc-content {
  background-color: #C59554;
  height: 400px;
  margin-top: -170px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mscc-content > h5 {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.mscc-content > p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.no-webp .footer {
  background: url("../img/bgfooter.png"); }

.footer {
  background-size: cover;
  color: #DFC195;
  font-variant: small-caps;
  text-align: center;
  background-position: center;
}

.footer-logo-list {
  display: block;
}

.footer-logo-list a {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  margin: 0 3%;
  background-size: cover;
  text-decoration: none;
}

.patternline {
  border: 1px solid gray;
}

.no-webp .footer-logo-list a:nth-child(1) {
  background-image: url("../img/logoWkgray.png"); }

.footer-logo-list a:nth-child(1) {
  background-repeat: no-repeat;
  -webkit-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}

.no-webp .footer-logo-list a:nth-child(1):hover {
  background-image: url("../img/logoVK.png"); }

.footer-logo-list a:nth-child(1):hover {
  background-size: 95%;
}

.no-webp .footer-logo-list a:nth-child(2) {
  background-image: url("../img/logoIgray.png"); }

.footer-logo-list a:nth-child(2) {
  background-repeat: no-repeat;
  -webkit-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}

.no-webp .footer-logo-list a:nth-child(2):hover {
  background-image: url("../img/logoInsta.png"); }

.footer-logo-list a:nth-child(2):hover {
  background-size: 95%;
}

.no-webp .footer-logo-list a:nth-child(3) {
  background-image: url("../img/logoFgray.png"); }

.footer-logo-list a:nth-child(3) {
  background-repeat: no-repeat;
  -webkit-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}

.no-webp .footer-logo-list a:nth-child(3):hover {
  background-image: url("../img/logoFaceB.png"); }

.footer-logo-list a:nth-child(3):hover {
  background-size: 95%;
}

.no-webp .footer-logo-list a:nth-child(4) {
  background-image: url("../img/logoOgray.png"); }

.footer-logo-list a:nth-child(4) {
  background-repeat: no-repeat;
  -webkit-transition: background 0.6s;
  -o-transition: background 0.6s;
  transition: background 0.6s;
}

.no-webp .footer-logo-list a:nth-child(4):hover {
  background-image: url("../img/logoOdnok.png"); }

.footer-logo-list a:nth-child(4):hover {
  background-size: 95%;
}

.footer-logo-list img {
  width: 7%;
  margin: auto 2%;
}

.footer-logo {
  height: 100%;
  position: relative;
}

.footer-logo-img {
  position: absolute;
  margin: auto;
  width: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.footer-menulist a {
  text-decoration: none;
  color: #C59554;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.footer-menulist a:hover {
  color: #DFC195;
}

.footer-openHours-info {
  font-size: 0.8rem;
}

.openHours-info-phoneNumber a {
  text-decoration: underline;
  color: #C59554;
}

.openHours-info-phoneNumber a:hover {
  color: #DFC195;
}

.footer-openHours-info > a {
  font-size: 1rem;
  color: #DFC195;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.footer-openHours-info > a:hover {
  color: #C59554;
  text-decoration: none;
}

.footer-logo-list-mobile {
  display: none;
}

.footer-copyright-info {
  font-size: 0.9rem;
}

.btn-to-up {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.btn-to-up-canvas {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .card-img-flex {
    width: 21%;
  }

  .card-masters-img-flex {
    width: 21%;
  }
}

@media (min-width: 1400px) {
  .navbar-brand {
    width: 20%;
  }

  .nav-link-config {
    font-size: 1.6rem;
  }

  .openHours-info {
    font-size: 1rem;
  }

  .openHours-info-phoneNumber {
    font-size: 1.2rem;
  }

  .header-section-content {
    top: 30%;
  }

  .header-section-info > h2,
  .header-section-info > p {
    margin: 3%;
  }

  .header-section-info > h2 {
    font-size: 4rem;
  }

  .header-section-info > p {
    font-size: 1.5rem;
  }

  .btn-recordOnline {
    font-size: 1.6rem;
    height: 4rem;
  }

  .main-section-about {
    bottom: 10.8rem;
  }

  .main-section-about-head {
    height: 11rem;
  }

  .main-section-about-head > div > h4 {
    height: 3.5rem;
    font-size: 2.6rem;
  }

  .article-section-one img {
    width: 30%;
  }

  .article-section-one p {
    font-size: 1.2rem;
  }

  .article-section-two {
    height: 40%;
  }

  .article-section-two h5 {
    font-size: 1.7rem;
  }

  .article-section-two p {
    font-size: 1.4rem;
  }

  .divImg img {
    top: -6rem;
    right: 7rem;
    width: 180%;
  }

  .main-section-services-head {
    height: 11rem;
  }

  .main-section-services-head > div > h4 {
    height: 3.5rem;
    font-size: 2.6rem;
  }

  .main-section-masters-head {
    height: 11rem;
  }

  .main-section-masters-head > div > h4 {
    height: 3.5rem;
    font-size: 2.6rem;
  }

  .btn-master {
    font-size: 1.6rem;
    height: 4rem;
  }

  .section-masters-logo-text {
    letter-spacing: 4vw;
  }

  .main-section-section-head {
    height: 11rem;
  }

  .main-section-section-head > div > h4 {
    height: 3.5rem;
    font-size: 2.6rem;
  }

  .main-section-section-head {
    height: 11rem;
  }

  .main-section-section-head > div > h4 {
    height: 3.5rem;
    font-size: 2.6rem;
  }

  .footer-menulist a {
    font-size: 1.4rem;
  }

  .footer-openHours-info {
    font-size: 0.9rem;
  }

  .footer-openHours-info > a {
    font-size: 1.2rem;
  }
}

@media (max-width: 575.98px) {
  .navbar {
    background: -o-radial-gradient(at top left, #292929, black);
    background: radial-gradient(at top left, #292929, black);
    background-color: #292929;
    position: fixed;
    z-index: 20;
    width: 100%;
  }

  .navbar-brand {
    width: 25%;
  }

  .nav-link-config {
    margin: 0 auto;
    text-align: center;
    border: none;
  }

  .additional-color {
    display: none;
  }

  .header-section-content {
    top: 30%;
  }

  .header-section-info {
    text-align: center;
  }

  .header-section-info > h2 {
    font-size: 2.5rem;
    margin-bottom: 10%;
  }

  .header-section-info > p {
    font-size: 1.2rem;
  }

  .header-section-content-recordOnline {
    margin-top: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-section-about {
    position: static;
  }

  .main-section-about-head {
    padding-left: 0;
  }

  .main-section-about-head > div > h4 {
    background-color: white;
    color: #C59554;
    margin: 0 auto;
    font-size: 1.8rem;
  }

  .leftflag,
  .rightflag {
    display: none;
  }

  .article-content {
    border: none;
    padding-top: 0;
  }

  .article-section-one {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
    border: 2px solid whitesmoke;
  }

  .article-section-one img {
    width: 50%;
  }

  .article-section-one p {
    font-size: 0.9rem;
  }

  .article-section-two {
    background-color: white;
    padding-top: 8%;
  }

  .article-section-two-content-mobile {
    background-color: white;
    padding-top: 1rem;
  }

  .article-section-two h5 {
    font-size: 1.2rem;
  }

  .article-section-two p {
    font-size: 0.9rem;
  }

  .divImg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .divImg img {
    display: block;
    position: static;
    width: 70%;
    margin: 0 auto;
  }

  .main-section-services {
    padding-bottom: 8%;
  }

  .main-section-services-head {
    padding-left: 0;
  }

  .main-section-services-head > div > h4 {
    background-color: #F8F9F9;
    color: #C59554;
    margin: 0 auto;
    font-size: 1.8rem;
  }

  .main-section-services-content-one-content {
    padding-top: 1rem;
    font-size: 0.9rem;
    text-align: justify;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 2rem;
    -webkit-box-shadow: 2px 0 5px #DFC195, -2px 0 5px #C59554;
            box-shadow: 2px 0 5px #DFC195, -2px 0 5px #C59554;
  }

  .main-section-services-content-one-img {
    display: none;
  }

  .main-section-services-content-two {
    margin-top: 0rem;
  }

  .card-img-flex {
    width: 100%;
    display: none;
  }

  .card-serv p:nth-child(1) {
    font-size: 0.9rem;
    color: #C59554;
    letter-spacing: 0.2rem;
  }

  .card-img-flex img {
    border-radius: 1rem;
    height: 100%;
    border: 1px solid wheat;
  }

  .carousel-caption {
    text-shadow: 1px 1px black;
    color: #C59554;
    bottom: -2rem;
    left: -30%;
  }

  .no-webp .main-section-masters {
    background: url("../img/sectionmastersimg/bgsectionmastersmobile.png"); }

  .main-section-masters {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 10%;
  }

  .main-section-masters-head {
    padding-left: 0;
  }

  .main-section-masters-head > div > h4 {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin: 0 auto;
    font-size: 1.8rem;
  }

  .main-section-masters-content-two {
    margin-top: -2rem;
  }

  .card-masters-img-flex {
    width: 100%;
    margin-top: 10%;
  }

  .card-master > div > h5 {
    display: inline-block;
    text-align: center;
    min-width: 150px;
    max-width: 200px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    letter-spacing: 0.1rem;
    padding-top: 2%;
  }

  .card-master > div > p {
    font-size: 0.7rem;
    color: white;
    letter-spacing: 0rem;
    text-align: center;
    padding: 2% 0;
  }

  .card-masters-img-flex img {
    border-radius: 1rem;
    max-width: 70%;
    min-width: 60%;
    height: 100%;
    border: 1px solid wheat;
  }

  .section-masters-logo-text {
    display: none;
  }

  .main-section-galery {
    padding-bottom: 8%;
  }

  .main-section-section-head {
    padding-left: 0;
  }

  .main-section-section-head > div > h4 {
    background-color: rgba(255, 255, 255, 0);
    color: #C59554;
    margin: 0 auto;
    font-size: 1.8rem;
  }

  .main-section-galery-imgs {
    width: 100%;
    background-color: #F8F9F9;
  }

  .main-section-galery-imgs > div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .msg-img-config {
    top: -10px;
  }

  .main-section-contacts {
    padding-bottom: 12%;
  }

  .main-section-section-head {
    padding-left: 0;
  }

  .main-section-section-head > div > h4 {
    background-color: rgba(255, 255, 255, 0);
    color: #C59554;
    margin: 0 auto;
    font-size: 1.8rem;
  }

  .main-section-contacts-two {
    margin-top: 0rem;
  }

  .main-section-contacts-map {
    height: 260px;
  }

  .main-section-contacts-map iframe {
    width: 90%;
  }

  .mscc-img {
    display: none;
  }

  .mscc-content {
    height: auto;
    margin-top: 5%;
    background-color: white;
    border: 1px solid #C59554;
    -webkit-box-shadow: 2px 0 5px #DFC195, -2px 0 5px #C59554;
            box-shadow: 2px 0 5px #DFC195, -2px 0 5px #C59554;
    border-radius: 15px;
  }

  .mscc-content > h5 {
    font-size: 0.8rem;
    padding-top: 5%;
  }

  .mscc-content > p {
    font-size: 0.6rem;
  }

  .footer-logo-list {
    display: none;
  }

  .footer-logo-list img {
    width: 1.7rem;
  }

  .footer-logo-mobile-none {
    display: none;
  }

  .footer-menulist {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer-menulist a {
    font-size: 1rem;
    margin: 0.5rem auto;
  }

  .footer-menuAndInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .patternlineTop {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .patternlineTop > div {
    border: 1px solid gray;
  }

  .footer-openHours-info {
    font-size: 0.8rem;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .openHours-info-phoneNumber {
    font-size: 1rem;
  }

  .footer-openHours-info p {
    margin: 1.2rem auto;
  }

  .footer-openHours-info > a {
    display: none;
  }

  .footer-logo-list-mobile {
    display: block;
  }

  .footer-logo-list-mobile-sect img {
    width: 1.5rem;
    margin: auto 2%;
  }

  .footer-copyright-info {
    font-size: 0.5rem;
    margin-top: 1rem;
  }

  .btn-to-up {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 400.98px) {
  .main-section-contacts-map {
    height: 200px;
  }

  .main-section-contacts-map iframe {
    width: 100%;
  }
}

@media (min-width: 200px) and (max-width: 575.98px) {
  .no-webp header {
    background-image: url("../img/bgonemedia.png"); }
  header {
    background-position: center;
    height: 620px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand {
    width: 18%;
  }

  .nav-link-config {
    font-size: 0.7rem;
  }

  .openHours-info {
    font-size: 0.6rem;
  }

  .openHours-info-phoneNumber {
    font-size: 0.8rem;
  }

  .header-section-content {
    top: 30%;
  }

  .header-section-info > h2 {
    font-size: 1.5rem;
  }

  .header-section-info > p {
    font-size: 0.7rem;
  }

  .btn-recordOnline {
    font-size: 0.6rem;
    height: 2rem;
  }

  .main-section-about-head > div > h4 {
    height: 1.6rem;
    font-size: 1rem;
  }

  .article-section-one {
    height: 15rem;
  }

  .article-section-one img {
    width: 32%;
  }

  .article-section-one p {
    font-size: 0.8rem;
  }

  .article-section-two h5 {
    font-size: 1rem;
  }

  .article-section-two p {
    font-size: 0.8rem;
  }

  .main-section-services {
    margin-top: -5%;
  }

  .main-section-services-head > div > h4 {
    height: 1.6rem;
    font-size: 1rem;
  }

  .main-section-services-content-one-content {
    padding-top: 1rem;
    font-size: 0.7rem;
  }

  .card-img-flex {
    width: 18%;
    font-size: 0.8rem;
  }

  .card-serv p:nth-child(1) {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .card-serv p:nth-child(3) {
    padding-top: 0.2rem;
    font-size: 0.7rem;
  }

  .card-img-flex img {
    height: 110px;
  }

  .main-section-masters {
    height: 100vh;
  }

  .main-section-masters-head > div > h4 {
    height: 1.6rem;
    font-size: 1rem;
  }

  .card-masters-img-flex {
    width: 19%;
    font-size: 0.8rem;
  }

  .card-master > div {
    font-size: 0.7rem;
  }

  .card-master > div > h5 {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }

  .card-master > div > p {
    font-size: 0.46rem;
    letter-spacing: 0rem;
    margin-bottom: 0rem;
  }

  .card-masters-img-flex img {
    height: 110px;
  }

  .btn-master {
    font-size: 0.6rem;
    height: 2rem;
  }

  .section-masters-logo-text {
    font-size: 40px;
    text-shadow: 1px 0 1px white, 0 1px 1px white, -1px 0 1px white, 0 -1px 1px white;
  }

  .main-section-section-head > div > h4 {
    height: 1.6rem;
    font-size: 1rem;
  }

  .main-section-galery-imgs {
    width: 70%;
  }

  .main-section-section-head > div > h4 {
    height: 1.6rem;
    font-size: 1rem;
  }

  .main-section-contacts-two {
    margin-top: 3rem;
  }

  .main-section-contacts-map iframe {
    width: 100%;
  }

  .mscc-img {
    bottom: 50px;
    left: 50px;
  }

  .mscc-content {
    height: 170px;
    margin-top: -70px;
  }

  .mscc-content > h5 {
    font-size: 0.86rem;
  }

  .mscc-content > p {
    font-size: 0.7rem;
  }

  .footer-logo-list a {
    width: 1.3rem;
    height: 1.3rem;
  }

  .footer-logo-list img {
    width: 8%;
  }

  .footer-logo-img {
    width: 60%;
  }

  .footer-menulist a {
    font-size: 1rem;
  }

  .footer-openHours-info {
    font-size: 0.6rem;
  }

  .footer-openHours-info > a {
    font-size: 0.8rem;
  }

  .footer-copyright-info {
    font-size: 0.7rem;
  }

  .btn-to-up {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    width: 18%;
  }

  .nav-link-config {
    font-size: 0.6rem;
  }

  .openHours-info {
    font-size: 0.5rem;
  }

  .openHours-info-phoneNumber {
    font-size: 0.6rem;
  }

  .header-section-info > h2 {
    font-size: 1.5rem;
  }

  .header-section-info > p {
    font-size: 0.7rem;
  }

  .btn-recordOnline {
    font-size: 0.7rem;
    width: 8rem;
    height: 2rem;
  }

  .main-section-about-head > div > h4 {
    height: 1.4rem;
    font-size: 1rem;
  }

  .leftflag {
    margin-right: 0.1rem;
  }

  .rightflag {
    margin-left: 0.13rem;
  }

  .article-content {
    padding-top: 0;
  }

  .article-section-one {
    height: 8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
  }

  .article-section-one img {
    width: 40%;
  }

  .padleft {
    margin-left: 0;
  }

  .article-section-one p {
    font-size: 0.8rem;
  }

  .article-section-two {
    width: 100%;
    background-color: white;
  }

  .article-section-two-content-mobile {
    background-color: #C59554;
    position: relative;
    right: 5%;
    margin: auto 0;
  }

  .article-section-two h5 {
    font-size: 0.9rem;
  }

  .article-section-two p {
    font-size: 0.8rem;
  }

  .divImg img {
    position: static;
    width: 9.6rem;
    margin-left: 30%;
  }

  .main-section-services {
    margin-top: -9%;
  }

  .main-section-services-head > div > h4 {
    height: 1.4rem;
    font-size: 1rem;
  }

  .main-section-services-content-one-content {
    padding-top: 0;
    font-size: 0.55rem;
  }

  .main-section-services-content-one-img {
    width: 40%;
    left: 0;
  }

  .main-section-services-content-two {
    margin-top: -5rem;
  }

  .card-serv p:nth-child(1) {
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
    font-weight: bolder;
  }

  .card-serv p:nth-child(3) {
    padding-top: 0.2rem;
    font-size: 0.6rem;
  }

  .card-img-flex img {
    height: 100px;
  }

  .main-section-masters {
    height: 370px;
  }

  .main-section-masters-head > div > h4 {
    height: 1.4rem;
    font-size: 1rem;
  }

  .main-section-masters-content-two {
    margin-top: 0rem;
  }

  .card-master > div {
    font-size: 0.6rem;
  }

  .card-master > div > h5 {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }

  .card-master > div > p {
    font-size: 0.4rem;
    letter-spacing: 0rem;
    margin-bottom: 0rem;
  }

  .card-masters-img-flex img {
    width: 80px;
    height: 90px;
  }

  .btn-master {
    margin: 0 auto;
    border: 1px solid #C59554;
    font-size: 0.6rem;
    width: 5.5rem;
    height: 1.9rem;
  }

  .section-masters-logo-text {
    font-size: 30px;
    text-shadow: 1px 0 1px white, 0 1px 1px white, -1px 0 1px white, 0 -1px 1px white;
  }

  .main-section-section-head > div > h4 {
    height: 1.4rem;
    font-size: 1rem;
  }

  .main-section-galery-imgs {
    width: 70%;
  }

  .main-section-section-head > div > h4 {
    height: 1.4rem;
    font-size: 1rem;
  }

  .main-section-contacts-two {
    margin-top: 0rem;
  }

  .main-section-contacts-map iframe {
    width: 100%;
  }

  .mscc-img {
    bottom: 30px;
    left: 20px;
  }

  .mscc-content {
    height: 120px;
    margin-top: -40px;
    padding: 0 20px;
  }

  .mscc-content > h5 {
    font-size: 0.5rem;
    padding-top: 10%;
  }

  .mscc-content > p {
    font-size: 0.46rem;
  }

  .footer-logo-list a {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 2%;
  }

  .footer-logo-list img {
    width: 10%;
  }

  .footer-logo-img {
    width: 70%;
  }

  .footer-menulist a {
    font-size: 0.8rem;
    margin: 0.3rem auto;
  }

  .footer-openHours-info {
    font-size: 0.6rem;
  }

  .footer-openHours-info > a {
    font-size: 0.8rem;
  }

  .footer-copyright-info {
    font-size: 0.5rem;
  }

  .btn-to-up {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .nav-link-config {
    font-size: 0.9rem;
  }

  .header-section-content {
    top: 25%;
  }

  .main-section-about-head > div > h4 {
    height: 2rem;
    font-size: 1.3rem;
  }

  .article-section-one img {
    width: 30%;
  }

  .article-section-one p {
    font-size: 0.7rem;
  }

  .main-section-services-head > div > h4 {
    height: 2rem;
    font-size: 1.3rem;
  }

  .main-section-services-content-one-content {
    padding-top: 3rem;
    font-size: 1rem;
  }

  .card-serv p:nth-child(1) {
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
  }

  .card-img-flex img {
    height: 180px;
  }

  .main-section-masters {
    height: 90vh;
  }

  .main-section-masters-head > div > h4 {
    height: 2rem;
    font-size: 1.3rem;
  }

  .card-masters-img-flex {
    width: 22%;
  }

  .card-master > div > h5 {
    font-size: 1rem;
  }

  .card-master > div > p {
    font-size: 0.7rem;
    letter-spacing: 0rem;
  }

  .card-masters-img-flex img {
    width: 130px;
    height: 150px;
  }

  .section-masters-logo-text {
    letter-spacing: 5vw;
    font-size: 60px;
    text-shadow: 1px 0 1px white, 0 1px 1px white, -1px 0 1px white, 0 -1px 1px white;
  }

  .main-section-section-head > div > h4 {
    height: 2rem;
    font-size: 1.3rem;
  }

  .main-section-galery-imgs {
    width: 57%;
  }

  .main-section-section-head > div > h4 {
    height: 2rem;
    font-size: 1.3rem;
  }

  .main-section-contacts-map iframe {
    width: 100%;
  }

  .mscc-img {
    left: 50px;
  }

  .mscc-content {
    height: 220px;
    margin-top: -120px;
  }

  .mscc-content > h5 {
    font-size: 1rem;
  }

  .mscc-content > p {
    font-size: 0.8rem;
  }

  .footer-logo-list a {
    width: 1.1rem;
    height: 1.1rem;
  }

  .btn-to-up {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header-section-content {
    top: 30%;
  }

  .header-section-info > h2 {
    font-size: 3rem;
  }

  .header-section-info > p {
    font-size: 1.1rem;
  }

  .btn-recordOnline {
    font-size: 1.2rem;
    height: 3rem;
  }

  .article-section-one img {
    width: 25%;
  }

  .padleft {
    margin-left: 10%;
  }

  .article-section-one p {
    font-size: 1rem;
  }

  .article-section-two {
    height: 40%;
    width: 40%;
    margin: auto 3rem;
  }

  .divImg img {
    top: -6rem;
    right: 7rem;
    width: 250%;
  }

  .main-section-masters {
    height: 90vh;
  }

  .card-master > div > h5 {
    font-size: 1.2rem;
  }

  .card-master > div > p {
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
  }

  .card-masters-img-flex img {
    width: 150px;
    height: 180px;
  }

  .btn-master {
    font-size: 1.2rem;
    height: 3rem;
  }

  .section-masters-logo-text {
    letter-spacing: 5vw;
    font-size: 70px;
    margin-top: 1rem;
    text-shadow: 2px 0 1px white, 0 2px 1px white, -2px 0 1px white, 0 -2px 1px white;
  }

  .main-section-galery-imgs {
    width: 60%;
  }

  .main-section-contacts-map iframe {
    width: 100%;
  }

  .mscc-content {
    height: 300px;
  }

  .mscc-content > h5 {
    font-size: 1.2rem;
  }

  .mscc-content > p {
    font-size: 1rem;
  }

  .footer-logo-list a {
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn-to-up {
    width: 70px;
    height: 70px;
  }
}

.webp header { background-image: url(../img/bgheader.webp); }

.webp .leftflag { background: url(../img/leftflag.webp); }

.webp .rightflag { background: url(../img/rightflag.webp); }

.webp .main-section-masters { background: url(../img/sectionmastersimg/bgsectionmasters.webp); }

.webp .footer { background: url(../img/bgfooter.webp); }

.webp .footer-logo-list a:nth-child(1) { background-image: url(../img/logoWkgray.webp); }

.webp .footer-logo-list a:nth-child(1):hover { background-image: url(../img/logoVK.webp); }

.webp .footer-logo-list a:nth-child(2) { background-image: url(../img/logoIgray.webp); }

.webp .footer-logo-list a:nth-child(2):hover { background-image: url(../img/logoInsta.webp); }

.webp .footer-logo-list a:nth-child(3) { background-image: url(../img/logoFgray.webp); }

.webp .footer-logo-list a:nth-child(3):hover { background-image: url(../img/logoFaceB.webp); }

.webp .footer-logo-list a:nth-child(4) { background-image: url(../img/logoOgray.webp); }

.webp .footer-logo-list a:nth-child(4):hover { background-image: url(../img/logoOdnok.webp); }

@media (max-width: 575.98px) {

  .webp .main-section-masters { background: url(../img/sectionmastersimg/bgsectionmastersmobile.webp); }
}

@media (min-width: 200px) and (max-width: 575.98px) {

  .webp header { background-image: url(../img/bgonemedia.webp); }
}